.bg {
   background-image:url("Images/rr.jpg");
  
}
.form {
  margin: 60px auto;
  width: 300px;
  padding: 30px 25px;
  background:#0A0909;
}
h1.login-title {
  color:aliceblue;
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.login-input {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color:#7C838C;
  outline color : #C4C2CE;
  
}
.login-button {
    color: #0B0606;
    background: #97928F;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
  color: #F5ECEC;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.link a {
  color: #FFFEFE;
  text-align: center;
}
h3 {
  font-weight: normal;
  text-align: center;
}
.form1 {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background:#8690DB;
  
	
}
